<div class="card m-3">
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <br>
            <h3> Personal Data </h3>
            <br>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>First Name *</label>
                    <input type="text" formControlName="FirstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Middle Name *</label>
                    <input type="text" formControlName="MiddelName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MiddelName.errors }" />
                    <div *ngIf="submitted && f.MiddelName.errors" class="invalid-feedback">
                        <div *ngIf="f.MiddelName.errors.required">Middle Name is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Last Name *</label>
                    <input type="text" formControlName="LastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email *</label>
                <input type="text" formControlName="Email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                    <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Address1 *</label>
                    <input type="text" formControlName="Address1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }" />
                    <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                        <div *ngIf="f.Address1.errors.required">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Address2 *</label>
                    <input type="text" formControlName="Address2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Address2.errors }" />
                    <div *ngIf="submitted && f.Address2.errors" class="invalid-feedback">
                        <div *ngIf="f.Address2.errors.required">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>City *</label>
                    <input type="text" formControlName="City" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.City.errors }" />
                    <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                        <div *ngIf="f.City.errors.required">City is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>State *</label>
                    <input type="text" formControlName="State" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.State.errors }" />
                    <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                        <div *ngIf="f.State.errors.required">State is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Zip *</label>
                    <input type="text" formControlName="ZipCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.ZipCode.errors }" />
                    <div *ngIf="submitted && f.ZipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.ZipCode.errors.required">Zip code is required</div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Business Data </h3>
            <br>
            <div class="form-group">
                <label>Business LegalName *</label>
                <input type="text" formControlName="BusinessLegalName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BusinessLegalName.errors }" />
                <div *ngIf="submitted && f.BusinessLegalName.errors" class="invalid-feedback">
                    <div *ngIf="f.BusinessLegalName.errors.required">Business LegalName is required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Doing Business As *</label>
                    <input type="text" formControlName="DoingBusinessAs" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.DoingBusinessAs.errors }" />
                    <div *ngIf="submitted && f.DoingBusinessAs.errors" class="invalid-feedback">
                        <div *ngIf="f.DoingBusinessAs.errors.required">Doing Business As is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>EIN *</label>
                    <input type="text" formControlName="EIN" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.EIN.errors }" />
                    <div *ngIf="submitted && f.EIN.errors" class="invalid-feedback">
                        <div *ngIf="f.EIN.errors.required">EIN is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Merchant Category Code *</label>
                    <input type="text" formControlName="MerchantCategoryCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MerchantCategoryCode.errors }" />
                    <div *ngIf="submitted && f.MerchantCategoryCode.errors" class="invalid-feedback">
                        <div *ngIf="f.MerchantCategoryCode.errors.required">Merchant Category Code is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Website URL *</label>
                    <input type="text" formControlName="WebsiteURL" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.WebsiteURL.errors }" />
                    <div *ngIf="submitted && f.WebsiteURL.errors" class="invalid-feedback">
                        <div *ngIf="f.WebsiteURL.errors.required">Website URL is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Business Description *</label>
                    <input type="text" formControlName="BusinessDescription" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.BusinessDescription.errors }" />
                    <div *ngIf="submitted && f.BusinessDescription.errors" class="invalid-feedback">
                        <div *ngIf="f.BusinessDescription.errors.required">EIN is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Monthly Bank Card Volume *</label>
                    <input type="text" formControlName="MonthlyBankCardVolume" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MonthlyBankCardVolume.errors }" />
                    <div *ngIf="submitted && f.MonthlyBankCardVolume.errors" class="invalid-feedback">
                        <div *ngIf="f.MonthlyBankCardVolume.errors.required">Monthly Bank Card Volume As is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Average Ticket *</label>
                    <input type="text" formControlName="AverageTicket" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.AverageTicket.errors }" />
                    <div *ngIf="submitted && f.AverageTicket.errors" class="invalid-feedback">
                        <div *ngIf="f.AverageTicket.errors.required">Average Ticket is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Highest Ticket *</label>
                    <input type="text" formControlName="HighestTicket" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.HighestTicket.errors }" />
                    <div *ngIf="submitted && f.HighestTicket.errors" class="invalid-feedback">
                        <div *ngIf="f.HighestTicket.errors.required">Highest Ticket is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Business Address1 *</label>
                <input type="text" formControlName="BusinessAddress1" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BusinessAddress1.errors }" />
                <div *ngIf="submitted && f.BusinessAddress1.errors" class="invalid-feedback">
                    <div *ngIf="f.BusinessAddress1.errors.required">Business Address1 is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Business Address2 *</label>
                <input type="text" formControlName="BusinessAddress2" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BusinessAddress2.errors }" />
                <div *ngIf="submitted && f.BusinessAddress2.errors" class="invalid-feedback">
                    <div *ngIf="f.BusinessAddress2.errors.required">Business Address2 is required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Business City *</label>
                    <input type="text" formControlName="BusinessCity" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.BusinessCity.errors }" />
                    <div *ngIf="submitted && f.BusinessCity.errors" class="invalid-feedback">
                        <div *ngIf="f.BusinessCity.errors.required">City is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Business State *</label>
                    <input type="text" formControlName="BusinessState" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.BusinessState.errors }" />
                    <div *ngIf="submitted && f.BusinessState.errors" class="invalid-feedback">
                        <div *ngIf="f.BusinessState.errors.required">State is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Business ZipCode *</label>
                    <input type="text" formControlName="BusinessZipCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.BusinessZipCode.errors }" />
                    <div *ngIf="submitted && f.BusinessZipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.BusinessZipCode.errors.required">Zip code is required</div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Account Payment </h3>
            <br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Name On Card *</label>
                    <input type="text" formControlName="NameOnCard" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.NameOnCard.errors }" />
                    <div *ngIf="submitted && f.NameOnCard.errors" class="invalid-feedback">
                        <div *ngIf="f.NameOnCard.errors.required">Name On Card is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Credit Card Number *</label>
                    <input type="text" formControlName="CreditCardNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.CreditCardNumber.errors }" />
                    <div *ngIf="submitted && f.CreditCardNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.CreditCardNumber.errors.required">Credit Card Number is required</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>ExpDate *</label>
                    <input type="text" formControlName="ExpDate" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.ExpDate.errors }" />
                    <div *ngIf="submitted && f.ExpDate.errors" class="invalid-feedback">
                        <div *ngIf="f.ExpDate.errors.required">ExpDate is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Account Number *</label>
                    <input type="text" formControlName="AccountNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.AccountNumber.errors }" />
                    <div *ngIf="submitted && f.AccountNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.AccountNumber.errors.required">Account Number is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Routing Number *</label>
                    <input type="text" formControlName="RoutingNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.RoutingNumber.errors }" />
                    <div *ngIf="submitted && f.RoutingNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.RoutingNumber.errors.required">Routing Number is required</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Account Type *</label>
                    <input type="text" formControlName="MerchantCategoryCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.AccountType.errors }" />
                    <div *ngIf="submitted && f.AccountType.errors" class="invalid-feedback">
                        <div *ngIf="f.AccountType.errors.required">Account Type is required</div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Mailing Address </h3>
            <br>
            <div class="form-group">
                <label>Mail Address1 *</label>
                <input type="text" formControlName="MailAddress1" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.MailAddress1.errors }" />
                <div *ngIf="submitted && f.MailAddress1.errors" class="invalid-feedback">
                    <div *ngIf="f.MailAddress1.errors.required">Mail Address1 is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Mail Address2 *</label>
                <input type="text" formControlName="MailAddress2" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.MailAddress2.errors }" />
                <div *ngIf="submitted && f.MailAddress2.errors" class="invalid-feedback">
                    <div *ngIf="f.MailAddress2.errors.required">Mail Address2 is required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Mail City *</label>
                    <input type="text" formControlName="MailCity" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MailCity.errors }" />
                    <div *ngIf="submitted && f.MailCity.errors" class="invalid-feedback">
                        <div *ngIf="f.MailCity.errors.required">City is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Mail State *</label>
                    <input type="text" formControlName="MailState" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MailState.errors }" />
                    <div *ngIf="submitted && f.MailState.errors" class="invalid-feedback">
                        <div *ngIf="f.MailState.errors.required">State is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Mail ZipCode *</label>
                    <input type="text" formControlName="MailZipCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.MailZipCode.errors }" />
                    <div *ngIf="submitted && f.MailZipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.MailZipCode.errors.required">Zip code is required</div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Primary Account </h3>
            <br>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Primary Account Country Code *</label>
                    <input type="text" formControlName="PrimaryAccountCountryCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryAccountCountryCode.errors }" />
                    <div *ngIf="submitted && f.PrimaryAccountCountryCode.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryAccountCountryCode.errors.required">Primary Account Country Code is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Primary Account Name *</label>
                    <input type="text" formControlName="PrimaryAccountName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryAccountName.errors }" />
                    <div *ngIf="submitted && f.PrimaryAccountName.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryAccountName.errors.required">Primary Account Name is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Primary Bank Account Number *</label>
                    <input type="text" formControlName="PrimaryBankAccountNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryBankAccountNumber.errors }" />
                    <div *ngIf="submitted && f.PrimaryBankAccountNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryBankAccountNumber.errors.required">Primary Bank Account Number is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label>Ownership Type *</label>
                    <input type="text" formControlName="PrimaryAccountOwnershipType" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryAccountOwnershipType.errors }" />
                    <div *ngIf="submitted && f.PrimaryAccountOwnershipType.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryAccountOwnershipType.errors.required">Primary Account Ownership Type is required</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Account Type *</label>
                    <input type="text" formControlName="PrimaryAccountType" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryAccountType.errors }" />
                    <div *ngIf="submitted && f.PrimaryAccountType.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryAccountType.errors.required">Primary Account Type is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Bank Name *</label>
                    <input type="text" formControlName="PrimaryBankName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryBankName.errors }" />
                    <div *ngIf="submitted && f.PrimaryBankName.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryBankName.errors.required">Primary Bank Name is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Routing Number *</label>
                    <input type="text" formControlName="PrimaryRoutingNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.PrimaryRoutingNumber.errors }" />
                    <div *ngIf="submitted && f.PrimaryRoutingNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryRoutingNumber.errors.required">Primary Routing Number is required</div>
                    </div>
                </div>
            </div>
            <br>
            <h3> Bank Account Ownership Details </h3>
            <br>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Bank Account First Name *</label>
                    <input type="text" formControlName="BankAccountFirstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountFirstName.errors }" />
                    <div *ngIf="submitted && f.BankAccountFirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountFirstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Bank Account Last Name *</label>
                    <input type="text" formControlName="BankAccountLastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountLastName.errors }" />
                    <div *ngIf="submitted && f.BankAccountLastName.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountLastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Bank Account Address1 *</label>
                <input type="text" formControlName="BankAccountAddress1" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.BankAccountAddress1.errors }" />
                <div *ngIf="submitted && f.BankAccountAddress1.errors" class="invalid-feedback">
                    <div *ngIf="f.BankAccountAddress1.errors.required">Address is required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label>City *</label>
                    <input type="text" formControlName="BankAccountCity" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountCity.errors }" />
                    <div *ngIf="submitted && f.BankAccountCity.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountCity.errors.required">Bank Account City is required</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Province *</label>
                    <input type="text" formControlName="BankAccountStateProvince" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountStateProvince.errors }" />
                    <div *ngIf="submitted && f.BankAccountStateProvince.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountStateProvince.errors.required">Province is required</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>PostalCode *</label>
                    <input type="text" formControlName="BankAccountPostalCode" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountPostalCode.errors }" />
                    <div *ngIf="submitted && f.BankAccountPostalCode.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountPostalCode.errors.required">PostalCode is required</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Country *</label>
                    <input type="text" formControlName="BankAccountCountry" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.BankAccountCountry.errors }" />
                    <div *ngIf="submitted && f.BankAccountCountry.errors" class="invalid-feedback">
                        <div *ngIf="f.BankAccountCountry.errors.required">Country is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Bank Account phone *</label>
                <input type="text" formControlName="BankAccountPhone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.BankAccountPhone.errors }" />
                <div *ngIf="submitted && f.BankAccountPhone.errors" class="invalid-feedback">
                    <div *ngIf="f.BankAccountPhone.errors.required">Phone is required</div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="AcceptTerms" id="acceptTerms" class="form-check-input"
                    [ngClass]="{ 'is-invalid': submitted && f.AcceptTerms.errors }" />
                <label for="AcceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.AcceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div>
                <button class="btn btn-primary mr-1">Submit</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
        <pre class="card-text">
            <code [style.display]="'block'">{{str}}</code>
        </pre>
    </div>
</div>
